@inject HttpClient Http

@if (currentGame.Currentstate == Gamestate.Playing)
{
	<button class="btn-warning" @onmousedown="CharaClick" @onmouseup="CharaClick">@chara</button>
}
else if (currentGame.Currentstate == Gamestate.Over)
{
	RIP();
	<button class="btn-danger" @onmousedown="CharaClick" @onmouseup="CharaClick">@chara</button>
	<button class="btn-info" style="float:inline-end" @onclick="RenderGame">Try again?</button>
}
else if (currentGame.Currentstate == Gamestate.Won)
{
	YAY();
	<button class="btn-success" @onmousedown="CharaClick" @onmouseup="CharaClick">@chara</button>
	<button class="btn-info" style="float:inline-end" @onclick="RenderGame">Try again?</button>
	<p>
		You won!, your score is: <b>@currentGame.Score</b>
	</p>
	<button class="btn-success" style="float:right" @onclick="SubmitScore">Submit score</button>
	@scoreSubmission
}

<p></p>
@if (currentGame.GameBoard.BoardCells.Count > 0)
{
	<div oncontextmenu="return false">
		<div class="minesweeper-game" style="@Size()">
			<div class="minesweeper-board" style="@Size()">
				@foreach (var cell in currentGame.GameBoard.BoardCells)
				{
					if (cell.Revealed)
					{
						if (cell.Mined)
						{
							if (cell.SteppedOn)
							{
								<div class="cell mine-detonated" />
							}
							else
							{
								<div class="cell mine-missed" />
							}
						}
						else if (cell.Flagged)
						{
							<div class="cell misflagged-mine" />
						}
						else
						{
							string minesNearby = $"{cell.NearbyMines}";
							<div class="cell mines-nearby-@minesNearby" />
						}
					}
					else
					{
						if (cell.Flagged)
						{
							<div class="cell flagged" @oncontextmenu="cell.RightClick" />
						}
						else
						{
							<div class="cell unrevealed" @onclick="cell.LeftClick" @oncontextmenu="cell.RightClick" />
						}
					}
				}
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	[EditorRequired]
	public Player? TheBraveMiner { get; set; }

	[Parameter]
	[EditorRequired]
	public int GameWidth { get; set; }

	[Parameter]
	[EditorRequired]
	public int GameHeight { get; set; }

	private Game currentGame = new(0, 0);

	private string chara = string.Empty;

	private bool gameOver = false;

	private bool gameWon = false;

	private string scoreSubmission = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		if (GameWidth < 9)
		{
			GameWidth = 9;
		}

		if (GameHeight < 9)
		{
			GameHeight = 9;
		}
		await Task.Delay(1);
		RenderGame();
	}

	private void RenderGame()
	{
		currentGame = new(GameWidth, GameHeight);
		gameOver = false;
		chara = "o_o";
	}

	private string Size()
	{
		string gameStyle = $"width:{GameWidth}cm; height:{GameHeight}cm";
		return gameStyle;
	}

	private async void SubmitScore()
	{
		if (TheBraveMiner != null)
		{
			TheBraveMiner.HighScore = currentGame.Score;
			var result = await Http.PutAsJsonAsync($"api/Lobby/{TheBraveMiner.Id}", TheBraveMiner);
			if (result.IsSuccessStatusCode)
			{
				scoreSubmission = "Score submitted successfully!";
			}
			else
			{
				scoreSubmission = "Error submitting your score, please try again...";
			}
		}
	}

	private void RIP()
	{
		if (!gameOver)
		{
			chara = "x_x";
			gameOver = true;
		}
	}
	private void YAY()
	{
		if (!gameOver)
		{
			chara = "^_^";
			gameWon = true;
		}
	}
	private void CharaClick()
	{
		if (chara == "o_o")
		{
			chara = ">_<";
		}
		else if (chara == ">_<")
		{
			chara = "o_o";
		}
		else if (chara == "x_x")
		{
			chara = "X_X";
		}
		else if (chara == "X_X")
		{
			chara = "x_x";
		}
		else if (chara == "^_^")
		{
			chara = "^o^";
		}
		else if (chara == "^o^")
		{
			chara = "^_^";
		}
	}
}
